body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: min(1300px, 100%);
  background: #000;
  margin: auto;
}
.wrapper{
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

header{
  position:  relative;
  padding:  30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
header h1{
  font-size: 20px;
  color: #aaa;
  transition-duration: .5s;
	font-weight: 500;
}
header h1:hover{
  color:#fff;
}
header a{
  color: #aaa;
  text-decoration: none;
  font-size: 18px;
  transition-duration: .5s;
	font-weight: 500;
}
#short{
  display: none;
  font-size: 35px;
}
#hidden{
  display: flex;
}
.about{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 450px;
}
.aboutimg{
  display: none;
  justify-content: space-around;
	align-items: center;
	width: 50%;
}
.aboutimg img{
  width: 30px;
  height: 30px;
  transition-duration: .3s;
  filter: brightness(.6);
}
.aboutimg img:hover{
  filter: brightness(1);
}
#selim{
  filter: brightness(1);
}
header a:hover{
  color: #fff;

}
.name a{
  font-size: 20px;
  margin-left: 15px;
}
#p5Canvas{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
	overflow: hidden;
}


.aboutme{
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 30px;
  font-size: 38px;
  text-align:  center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.aboutme h1{
  font-weight: 700;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
}
.desc{
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.desc li{
  transition-duration: .2s;
}
.desc p {
  width: 100%;
  text-align: center;
  transition-duration: .2s;
}
.desc span{
  width: 50%;
  height: 400px;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .2s;
}
.who {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.who li{
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.what{
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.what li {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.bio {
  width: 70%;
}
.bio p {
  text-align: left;
  text-indent: 50px;
  line-height: 50px;
  margin-bottom: 100px;
}

footer{
  width: 100%;
  height: 500px;
  border-top: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 45%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff
}
.outro{
  width: 100%;
  text-align:  left;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.outro p {
  width: 500px;
  font-weight: 300;
}
.email{
  width: 100%;
  text-align:  center;
  font-size: 30px;
  font-weight: 400;
}

.nav{
  width: 45%;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav ul{
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}
.nav li{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav a {
  font-size: 30px;
  font-weight: 700;
  color: #aaa;
  text-decoration: none;
  transition-duration: .3s;
}
.nav a:hover{
  color: #fff;
}
#sel {
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  body {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .vid {
    width: 90%;
    margin: auto;
  }
  .role h2{
    font-size: 30px;
  }
  .role li{
    font-size: 18px;
  }

  .desc h2{
    font-size: 40px;
  }
  .desc p{
    font-size: 18px;
  }
  .aboutme h1{
    font-size: 50px;
  }
  .desc span{
    font-size: 30px;
  }
  .desc li{
    font-size: 20px;
  }
}


@media only screen and (max-width: 780px) {
  .about {
    display: none;
  }
  .aboutimg{
    display: flex;
  }

  .contact{
    align-content: flex-start;
  }
  .outro{
    font-size: 20px;
  }
  .email{
    font-size: 20px;
  }
  .nav a {
    font-size: 20px;
  }
  footer{
    height: 300px;
  }
}

@media only screen and (max-width: 550px) {
  #long{
    display: none;
  }
  #short{
    display: flex;
  }
  .aboutimg{
    width: 60%;
  }
}
