body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: min(1300px, 100%);
  background: #000;
  margin: auto;
}
.wrapper{
  width: 100%;
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

header{
  position:  relative;
  padding:  30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
header h1{
  font-size: 20px;
  color: #aaa;
  transition-duration: .5s;
	font-weight: 500;
}
header h1:hover{
  color:#fff;
}
header a{
  color: #aaa;
  text-decoration: none;
  font-size: 18px;
  transition-duration: .5s;
	font-weight: 500;
}
#short{
  display: none;
  font-size: 35px;
}
#hidden{
  display: flex;
}
.about{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 450px;
}
.aboutimg{
  display: none;
  justify-content: space-around;
	align-items: center;
	width: 50%;
}
.aboutimg img{
  width: 30px;
  height: 30px;
  transition-duration: .3s;
  filter: brightness(.6);
}
.aboutimg img:hover{
  filter: brightness(1);
}
header a:hover{
  color: #fff;

}
.name a{
  font-size: 20px;
  margin-left: 15px;
}
#p5Canvas{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
	overflow: hidden;
}
.contents{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
}
.vrtist {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mylicks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.desc {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.desc h2{
  font-size: 52px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.desc p{
  color: #aaa;
  font-size: 22px;
  text-align: center;
}
.vid {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
 iframe{
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
  height: 100%;
}
.role{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.role h2{
  font-size: 40px;
  color: #fff;
  width: 50%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.role ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.role li {
  width: 100%;
  color: #aaa;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}

footer{
  width: 100%;
  height: 500px;
  border-top: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 45%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff
}
.outro{
  width: 100%;
  text-align:  left;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.outro p {
  width: 500px;
  font-weight: 300;
}
.email{
  width: 100%;
  text-align:  center;
  font-size: 30px;
  font-weight: 400;
}

.nav{
  width: 45%;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav ul{
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}
.nav li{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav a {
  font-size: 30px;
  font-weight: 700;
  color: #aaa;
  text-decoration: none;
  transition-duration: .3s;
}
.nav a:hover{
  color: #fff;
}
#sel {
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  body {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .vid {
    width: 90%;
    margin: auto;
  }
  .role h2{
    font-size: 30px;
  }
  .role li{
    font-size: 18px;
  }

  .desc h2{
    font-size: 40px;
  }
  .desc p{
    font-size: 18px;
  }
}


@media only screen and (max-width: 780px) {
  .about {
    display: none;
  }
  .aboutimg{
    display: flex;
  }
  .contact{

    align-content: flex-start;
  }
  .outro{
    font-size: 20px;
  }
  .email{
    font-size: 20px;
  }
  .nav a {
    font-size: 20px;
  }
  footer{
    height: 300px;
  }
}

@media only screen and (max-width: 550px) {
  #long{
    display: none;
  }
  #short{
    display: flex;
  }
  .aboutimg{
    width: 60%;
  }
}
