html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;

}
.headerWrap{
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}
.left{
	width: 65%;
	margin-right: 10%;
}
.right{
	width: 25%;
}

header{
	width: 70%;
	height: 170px;
	display: flex;
	align-items: center;
	border-bottom: 8px solid black;
}
.contact{
	width: 30%;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact p{
	margin-bottom: 10px;
	color: rgba(163,163,163,1);
	font-weight: 500;
}
h1{
	font-size: 40px;
	font-weight: 900;
}
h2{
	font-size: 22px;
	font-weight: 700;
}
h3{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}
.profile{
	padding-bottom: 40px;
	border-bottom: 8px solid black;
	margin-bottom: 30px;
}
.profile p, .skills p{
	line-height: 25px;
	color: rgba(163,163,163,1);
	font-weight: 500;
}
iframe{
	margin: auto;
}
.projectWrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	margin-bottom: 50px;
}
.projectTitle{
	color: rgba(163,163,163,1);
	font-size: 32px;
	font-weight: 700;
}
.youtubeWrapper{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}
.projectDescription{
	width: 100%;

}
.description{
	width: 90%;
	color: rgba(163,163,163,1);
	margin: auto;

}
.description p{
	line-height: 20px;
	text-overflow: ellipsis;
  overflow: hidden;

}
